<h1>sign up</h1>

<form action="/users/create" method="post">
    <br><input type="name" name="name" placeholder="Enter your full name" required><br>
    <br><input type="email" name="email" placeholder="Enter your email" required><br>
    <br><input type="password" name="password" placeholder="create your password" required><br>
   <br> <input type="password" name="confirm_password" placeholder="confirm your password" required><br>
    <br><input type="submit" value="Sign Up"><br>
</form><br>

<p>
    <a href="/users/auth/google">Google Sign Up/Sign Up</a>
</p>