<h1>sign In</h1>

<form action="/users/create-session" method="post"><br>
    <br><input type="email" name="email" placeholder="Enter your email" required><br>
    <br><input type="password" name="password" placeholder="Enter your password" required><br>
    <br><input type="submit" value="Sign In"><br>

</form><br>

<p>
    <a href="/users/auth/google">Google Sign Up/Sign Up</a>
</p>