<div>
    <p>Hi , <%= commenter_name %> !</p>
    <br>
    <br>
    <p>Your comment <strong><%= comment.content %> </strong> just got published on Socio!!</p>
    <br>
    <br>
    <p>Thanks !</p>
</div>